$backgroundImg: url(../img/m-h-day.jpg);
$backgroundColor: #fff;
$mainFontColor: #2c2f3c;
$sectionBackgroundColor: #21232e;
$sectionTextColor: #b6c3ce;
$joinUsButtonColor: #699900;
$contentBackgroundColor: #fff;
$textHighlighter: #14a0c7;
$sectionBannerText: #c0c2ce;
$bannerGradientBackground: linear-gradient(
    90deg,
    rgba(0, 36, 16, 1) 0%,
    rgba(105, 153, 1, 1) 0%,
    rgba(45, 91, 216, 1) 96%
);
