$backgroundImg: url(../img/m-h-night.jpg);
$backgroundColor: #21232e;
$mainFontColor: #fff;
$sectionBackgroundColor: #3b3f50;
$sectionTextColor: #b6c3ce;
$joinUsButtonColor: #e3ac00;
$contentBackgroundColor: #fff;
$textHighlighter: #ff4e33;
$sectionBannerText: #c0c2ce;
$bannerGradientBackground: linear-gradient(
    90deg,
    rgba(0, 36, 16, 1) 0%,
    rgba(226, 171, 0, 1) 0%,
    rgba(146, 43, 83, 1) 100%
);
